@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Retailers";
}


    <section class="projects-section bg-light" id="projects">
        <div class="container">
            <divclass="col-lg-6">   </divclass="col-lg-6">
            <!-- Retailer One-->
            <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
                <div class="col-lg-6">
                    <!-- Google Map -->
                    <div id="map" class="map"></div>
                </div>
                <div class="col-lg-6">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-left">
                                <h4 class="text-white">Waterloo</h4>
                                <p class="mb-0 text-white-50">An example of where you can put an image of a project, or anything else, along with a description.</p>
                                <hr class="d-none d-lg-block mb-0 ml-0" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </section>
