@{
    ViewBag.Title = "Home Page";
}

<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <h1 class="mx-auto my-0 text-uppercase">BEINGS LIVING WELL + </h1>
            <!--<h2 class="text-white-50 mx-auto mt-2 mb-5">A free, responsive, one page Bootstrap theme created by Start Bootstrap.</h2>-->
            <!--<a class="btn btn-primary js-scroll-trigger" href="#about">Get Started</a>-->

        </div>
        <div class="overlay"><img class="img-fluid" src="~/assets/overlay.png" alt="Our Love For Berries" /></div>
    </div>
    
</header>